@import url('https://fonts.googleapis.com/css?family=Open+Sans|Spectral:500i,700,800&display=swap');
html {
    /*** Background Colours ***/
    --primary: #2a2b2e;
    --primary-a: #525457;
    --primary-b: #000003;
    --secondary: #f1f0ea;
    --secondary-a: #ffffff;
    --secondary-b: #bebeb8;
    --error: #b00020;
    --links: #90E0F3;

    /*** Foreground Colours ***/
    --on-primary: #ffffff;
    --on-secondary: #000000;
    --on-error: #ffffff;

    /*** Font Sets ***/
    --font-a: 'Spectral', serif;
    --font-b: 'Open Sans', sans-serif;
}

body {
    background-color: var(--secondary);
    color: var(--on-secondary);
    font: normal normal 1em/1 var(--font-b), sans-serif;
    margin: 0;
}

main {
    background-color: var(--primary);
}

a{
    text-decoration: none;
    color: var(--on-primary);
}

a:hover{
    text-decoration: underline;
}

.topbar{
    background-color: var(--primary);
    text-align: center;
}

.topbar h1{
    color: var(--on-primary);
    font: bold normal 1em/1 var(--font-b) , sans-serif;
}

.menubar {
    padding: 1em 0 1em 0;
}

.menubar ul{
    margin: 1em 0 1em 0;
}

.menubar button{
    display: inline;
    background-color: transparent;
    border: none;
    outline: none;
}

.menubar li{
    margin: 0.75em 0 0.75em 0;
    color: var(--on-primary);
}

.logo {
    max-width: 10%;
    height: auto'
}

.icon {
    display: inline;
    max-width: 5%;
    border: 0;
}

.main-title {
    color: var(--on-secondary);
    font-family: var(--font-a), serif;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    padding: 1em;
    background-color: var(--secondary);
}

.sub-paragraph {
    color: var(--on-primary);
    background-color: var(--primary-a);
    font-family: var(--font-b), sans-serif;
    font-size: 1em;
    padding: 1em 2em 1em 2em;
}

.sub-paragraph p{
    margin: 1em 0 0 0;
}

.sub-paragraph dl{
    padding: 0 0 1em 0;
}

.sub-paragraph dt{
    padding: 1em 0 0 1em;
}

.sub-paragraph dd{
    padding: 0 0 0 1em;
    color: var(--secondary-b);
}

.sub-paragraph li{
    margin: 1em 0 1em 0;
}

.contact-bar a{
    color: var(--links);
}

.bottombar {
    background-color: var(--primary);
    text-align: center;
}

.bottombar h1{
    color: var(--on-primary);
    padding: 1em;
}

.bottombar h1:after{
    content: " \00a9  2019"
}

@media screen and (min-width: 500px) {
    main>div{
        max-width: 500px;
        margin: 0 auto;
    }

    main>h1{
        max-width: 500px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 800px) {
    main>div{
        max-width: 800px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main>h1 {
        max-width: 800px;
        margin: 0 auto;
    }

    .page-img {
        width: 100%;
        /* how to fill the whole div (see Couses section) */
    }

    .contacts {
        display: block;
    }

    .contacts ul {
        text-align: center;
    }
}

@media screen and (min-width: 1000px) {
    main>div{
        max-width: 900px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main>h1 {
        max-width: 900px;
        margin: 0 auto;
    }

    .menubar button {
        display: none;
    }

    .menubar li {
        display: inline;
        padding: 0 2em 0 2em;
    }
}